body {
  background-image: url('https://res.cloudinary.com/teepublic/image/private/s--kFAy6E8h--/t_Preview/b_rgb:191919,c_lpad,f_jpg,h_630,q_90,w_1200/v1597756475/production/designs/13180869_0.jpg');
  background-position: center;
  height: auto;
  background-repeat:no-repeat ;
 
  background-position: center;

}
h1 {
  background-color: rgb(11, 3, 59);text-align: center;
  color: yellowgreen;
  position: absolute;
  left:20% ;
  top:20%;
  box-shadow: 0px 1px 1px;
}
button {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 48%;
  top: 40%;
  background-color: rgb(20, 3, 75);
  color: yellowgreen;font-size: larger;
}